TugasBesar2_JavaAndWebService/WebServer/web/WEB-INF/wsdl/localhost_8080/MarketplaceWebService/Marketplace.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://tubes2.wakasta.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tubes2.wakasta.com/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="addProduct" type="tns:addProduct"/>

<xs:element name="addProductResponse" type="tns:addProductResponse"/>

<xs:element name="deleteProduct" type="tns:deleteProduct"/>

<xs:element name="deleteProductResponse" type="tns:deleteProductResponse"/>

<xs:element name="getCatalog" type="tns:getCatalog"/>

<xs:element name="getCatalogResponse" type="tns:getCatalogResponse"/>

<xs:element name="getLike" type="tns:getLike"/>

<xs:element name="getLikeResponse" type="tns:getLikeResponse"/>

<xs:element name="getProductData" type="tns:getProductData"/>

<xs:element name="getProductDataResponse" type="tns:getProductDataResponse"/>

<xs:element name="getPurchaseHistory" type="tns:getPurchaseHistory"/>

<xs:element name="getPurchaseHistoryResponse" type="tns:getPurchaseHistoryResponse"/>

<xs:element name="getSalesHistory" type="tns:getSalesHistory"/>

<xs:element name="getSalesHistoryResponse" type="tns:getSalesHistoryResponse"/>

<xs:element name="getUserData" type="tns:getUserData"/>

<xs:element name="getUserDataResponse" type="tns:getUserDataResponse"/>

<xs:element name="getYourProducts" type="tns:getYourProducts"/>

<xs:element name="getYourProductsResponse" type="tns:getYourProductsResponse"/>

<xs:element name="like" type="tns:like"/>

<xs:element name="likeResponse" type="tns:likeResponse"/>

<xs:element name="purchase" type="tns:purchase"/>

<xs:element name="purchaseResponse" type="tns:purchaseResponse"/>

<xs:element name="unlike" type="tns:unlike"/>

<xs:element name="unlikeResponse" type="tns:unlikeResponse"/>

<xs:element name="updateProduct" type="tns:updateProduct"/>

<xs:element name="updateProductResponse" type="tns:updateProductResponse"/>

<xs:complexType name="getPurchaseHistory">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPurchaseHistoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:Transaction" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Transaction">
<xs:sequence>
<xs:element name="product_name" type="xs:string" minOccurs="0"/>
<xs:element name="product_price" type="xs:int"/>
<xs:element name="buyer_username" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="consignee" type="xs:string" minOccurs="0"/>
<xs:element name="full_address" type="xs:string" minOccurs="0"/>
<xs:element name="postal_code" type="xs:int"/>
<xs:element name="phone_number" type="xs:string" minOccurs="0"/>
<xs:element name="time_add" type="xs:string" minOccurs="0"/>
<xs:element name="date_add" type="xs:string" minOccurs="0"/>
<xs:element name="create_time" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCatalog">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="keyword" type="xs:string" minOccurs="0"/>
<xs:element name="prodOrStore" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCatalogResponse">
<xs:sequence>
<xs:element name="return" type="tns:Product" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Product">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
<xs:element name="purchase_count" type="xs:int"/>
<xs:element name="like_count" type="xs:int"/>
<xs:element name="time_add" type="xs:string" minOccurs="0"/>
<xs:element name="date_add" type="xs:string" minOccurs="0"/>
<xs:element name="owner" type="xs:string" minOccurs="0"/>
<xs:element name="image" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="create_time" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLike">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="product_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLikeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getYourProducts">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getYourProductsResponse">
<xs:sequence>
<xs:element name="return" type="tns:Product" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchase">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="product_id" type="xs:int"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="consignee" type="xs:string" minOccurs="0"/>
<xs:element name="full_address" type="xs:string" minOccurs="0"/>
<xs:element name="postal_code" type="xs:int"/>
<xs:element name="phone_number" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addProduct">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="product_name" type="xs:string" minOccurs="0"/>
<xs:element name="product_description" type="xs:string" minOccurs="0"/>
<xs:element name="product_price" type="xs:int"/>
<xs:element name="product_image" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="product_owner" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="like">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="product_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="likeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProduct">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="product_id" type="xs:int"/>
<xs:element name="product_name" type="xs:string" minOccurs="0"/>
<xs:element name="product_description" type="xs:string" minOccurs="0"/>
<xs:element name="product_price" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductData">
<xs:sequence>
<xs:element name="product_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductDataResponse">
<xs:sequence>
<xs:element name="return" type="tns:Product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProduct">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="product_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSalesHistory">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSalesHistoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:Transaction" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserData">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserDataResponse">
<xs:sequence>
<xs:element name="return" type="tns:User" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="User">
<xs:sequence>
<xs:element name="fullname" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="full_address" type="xs:string" minOccurs="0"/>
<xs:element name="postal_code" type="xs:int"/>
<xs:element name="phone_number" type="xs:string" minOccurs="0"/>
<xs:element name="create_time" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unlike">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="product_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unlikeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>