tugas2/WebServer/src/conf/xml-resources/web-service-references/Marketplace/wsdl/localhost_8080/MarketplaceWebService/Marketplace.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tubes2.wakasta.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tubes2.wakasta.com/" name="Marketplace">
<types>
<xsd:schema>
<xsd:import namespace="http://tubes2.wakasta.com/" schemaLocation="http://localhost:8080/MarketplaceWebService/Marketplace?xsd=1"/>
</xsd:schema>
</types>
<message name="getPurchaseHistory">
<part name="parameters" element="tns:getPurchaseHistory"/>
</message>
<message name="getPurchaseHistoryResponse">
<part name="parameters" element="tns:getPurchaseHistoryResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getUserData">
<part name="parameters" element="tns:getUserData"/>
</message>
<message name="getUserDataResponse">
<part name="parameters" element="tns:getUserDataResponse"/>
</message>
<message name="getCatalog">
<part name="parameters" element="tns:getCatalog"/>
</message>
<message name="getCatalogResponse">
<part name="parameters" element="tns:getCatalogResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="getLike">
<part name="parameters" element="tns:getLike"/>
</message>
<message name="getLikeResponse">
<part name="parameters" element="tns:getLikeResponse"/>
</message>
<message name="purchase">
<part name="parameters" element="tns:purchase"/>
</message>
<message name="purchaseResponse">
<part name="parameters" element="tns:purchaseResponse"/>
</message>
<message name="like">
<part name="parameters" element="tns:like"/>
</message>
<message name="likeResponse">
<part name="parameters" element="tns:likeResponse"/>
</message>
<message name="unlike">
<part name="parameters" element="tns:unlike"/>
</message>
<message name="unlikeResponse">
<part name="parameters" element="tns:unlikeResponse"/>
</message>
<message name="getYourProducts">
<part name="parameters" element="tns:getYourProducts"/>
</message>
<message name="getYourProductsResponse">
<part name="parameters" element="tns:getYourProductsResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="updateProduct">
<part name="parameters" element="tns:updateProduct"/>
</message>
<message name="updateProductResponse">
<part name="parameters" element="tns:updateProductResponse"/>
</message>
<message name="getProductData">
<part name="parameters" element="tns:getProductData"/>
</message>
<message name="getProductDataResponse">
<part name="parameters" element="tns:getProductDataResponse"/>
</message>
<message name="getSalesHistory">
<part name="parameters" element="tns:getSalesHistory"/>
</message>
<message name="getSalesHistoryResponse">
<part name="parameters" element="tns:getSalesHistoryResponse"/>
</message>
<portType name="Marketplace">
<operation name="getPurchaseHistory">
<input wsam:Action="http://tubes2.wakasta.com/Marketplace/getPurchaseHistoryRequest" message="tns:getPurchaseHistory"/>
<output wsam:Action="http://tubes2.wakasta.com/Marketplace/getPurchaseHistoryResponse" message="tns:getPurchaseHistoryResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://tubes2.wakasta.com/Marketplace/getPurchaseHistory/Fault/Exception"/>
</operation>
<operation name="getUserData">
<input wsam:Action="http://tubes2.wakasta.com/Marketplace/getUserDataRequest" message="tns:getUserData"/>
<output wsam:Action="http://tubes2.wakasta.com/Marketplace/getUserDataResponse" message="tns:getUserDataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://tubes2.wakasta.com/Marketplace/getUserData/Fault/Exception"/>
</operation>
<operation name="getCatalog">
<input wsam:Action="http://tubes2.wakasta.com/Marketplace/getCatalogRequest" message="tns:getCatalog"/>
<output wsam:Action="http://tubes2.wakasta.com/Marketplace/getCatalogResponse" message="tns:getCatalogResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://tubes2.wakasta.com/Marketplace/getCatalog/Fault/Exception"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://tubes2.wakasta.com/Marketplace/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://tubes2.wakasta.com/Marketplace/addProductResponse" message="tns:addProductResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://tubes2.wakasta.com/Marketplace/addProduct/Fault/Exception"/>
</operation>
<operation name="getLike">
<input wsam:Action="http://tubes2.wakasta.com/Marketplace/getLikeRequest" message="tns:getLike"/>
<output wsam:Action="http://tubes2.wakasta.com/Marketplace/getLikeResponse" message="tns:getLikeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://tubes2.wakasta.com/Marketplace/getLike/Fault/Exception"/>
</operation>
<operation name="purchase">
<input wsam:Action="http://tubes2.wakasta.com/Marketplace/purchaseRequest" message="tns:purchase"/>
<output wsam:Action="http://tubes2.wakasta.com/Marketplace/purchaseResponse" message="tns:purchaseResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://tubes2.wakasta.com/Marketplace/purchase/Fault/Exception"/>
</operation>
<operation name="like">
<input wsam:Action="http://tubes2.wakasta.com/Marketplace/likeRequest" message="tns:like"/>
<output wsam:Action="http://tubes2.wakasta.com/Marketplace/likeResponse" message="tns:likeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://tubes2.wakasta.com/Marketplace/like/Fault/Exception"/>
</operation>
<operation name="unlike">
<input wsam:Action="http://tubes2.wakasta.com/Marketplace/unlikeRequest" message="tns:unlike"/>
<output wsam:Action="http://tubes2.wakasta.com/Marketplace/unlikeResponse" message="tns:unlikeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://tubes2.wakasta.com/Marketplace/unlike/Fault/Exception"/>
</operation>
<operation name="getYourProducts">
<input wsam:Action="http://tubes2.wakasta.com/Marketplace/getYourProductsRequest" message="tns:getYourProducts"/>
<output wsam:Action="http://tubes2.wakasta.com/Marketplace/getYourProductsResponse" message="tns:getYourProductsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://tubes2.wakasta.com/Marketplace/getYourProducts/Fault/Exception"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://tubes2.wakasta.com/Marketplace/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://tubes2.wakasta.com/Marketplace/deleteProductResponse" message="tns:deleteProductResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://tubes2.wakasta.com/Marketplace/deleteProduct/Fault/Exception"/>
</operation>
<operation name="updateProduct">
<input wsam:Action="http://tubes2.wakasta.com/Marketplace/updateProductRequest" message="tns:updateProduct"/>
<output wsam:Action="http://tubes2.wakasta.com/Marketplace/updateProductResponse" message="tns:updateProductResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://tubes2.wakasta.com/Marketplace/updateProduct/Fault/Exception"/>
</operation>
<operation name="getProductData">
<input wsam:Action="http://tubes2.wakasta.com/Marketplace/getProductDataRequest" message="tns:getProductData"/>
<output wsam:Action="http://tubes2.wakasta.com/Marketplace/getProductDataResponse" message="tns:getProductDataResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://tubes2.wakasta.com/Marketplace/getProductData/Fault/Exception"/>
</operation>
<operation name="getSalesHistory">
<input wsam:Action="http://tubes2.wakasta.com/Marketplace/getSalesHistoryRequest" message="tns:getSalesHistory"/>
<output wsam:Action="http://tubes2.wakasta.com/Marketplace/getSalesHistoryResponse" message="tns:getSalesHistoryResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://tubes2.wakasta.com/Marketplace/getSalesHistory/Fault/Exception"/>
</operation>
</portType>
<binding name="MarketplacePortBinding" type="tns:Marketplace">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPurchaseHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getUserData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getCatalog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="purchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="like">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="unlike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getYourProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="updateProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getProductData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getSalesHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="Marketplace">
<port name="MarketplacePort" binding="tns:MarketplacePortBinding">
<soap:address location="http://localhost:8080/MarketplaceWebService/Marketplace"/>
</port>
</service>
</definitions>